@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%;*/
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, #FFC991, #E79160)
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4c574470;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #D9A443;
    text-align: center;
}

h2 {
    color: #8CA07D;
    text-align: center;
}